<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.multijuego">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Multijuego">
        <activity
            android:name=".simon.juego_espejo"
            android:exported="false" />
        <activity
            android:name=".simon.instrucciones_simon_espejo"
            android:exported="false" />
        <activity
            android:name=".Ajustes"
            android:exported="false" />
        <activity
            android:name=".resultados.result_graph"
            android:exported="false" />
        <activity
            android:name=".resultados.results_games"
            android:exported="false" />
        <activity
            android:name=".Calculo.Calculo"
            android:exported="false" />
        <activity
            android:name=".Calculo.Instrucciones_calculo"
            android:exported="false" />
        <activity
            android:name=".colores.juegoPalabrasColor"
            android:exported="false" />
        <activity
            android:name=".colores.Instrucciones_palabras_color"
            android:exported="false" />
        <activity
            android:name=".Juegos"
            android:exported="false" />
        <activity
            android:name=".resultados.results"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>